body {

background-color: #D4AC6A;

    
}


td {
  color: green;
text-align: center;


}

tr{
 width: center;
text-align: center;
    
}


th{
    color: black;
}

h1{
    text-align: center;
}